@model Backend6.Models.OrderExecutor

@{
    ViewData["Title"] = "Create";
}

<h2>Оформить заказ</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label">Запрос от пользователя</label>
                <select asp-for="OrderId" class ="form-control" asp-items="ViewBag.OrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label">Назначить исполнителя</label>
                <select asp-for="ExecutorId" class ="form-control" asp-items="ViewBag.ExecutorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
