@model Backend6.Models.OrderExecutor

@{
    ViewData["Title"] = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить заказ?</h3>
<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Executor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Executor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
